nav.nav-center ul {
  text-align: center;
}
nav.nav-center ul li {
  display: inline;
  float: none;
}
nav.nav-center ul li a {
  display: inline-block;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.box {
  width: 100%;
  display: flex;
}
.card.horizontal .card-image {
  max-width: 40%;
  display: flex;
  align-items: center;
}
h6 {
  font-weight: bold;
}

@media all {
  .container {
    width: 90%;
  }
}
